.outer-rect{
    height: 300px;
    width: 500px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.inner-rect{
    height: 270px;
    width: 470px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.spinner-hor{
    height: 15px;
    width: 100px;
    background-color: aqua;
    position: absolute;
    top: 0px;
    left: -85px;
}
.spinner-vert{
    height: 100px;
    width: 15px;
    top: -85px;
    left: 485px;
    background-color: aqua;
    position: absolute;
    display: none;
}